.search input {
  background-color: rgba(237, 237, 237, 0.9) !important;
  border: 0 !important;
  border-radius: 2px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 1px !important;
  font-size: 18px !important;
  padding: 15px !important;
  margin: 0px !important;
  height: 1.5rem !important;
}
.search {
  width: 500px;
}
.searchInputs {
  display: flex;
  margin-top: 10px;
}

.searchIcon {
  margin: 0px !important;
  width: 50px;
  background-color: var(--color-menuText);
  display: inline-flex;
  place-items: center;
}


input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
  margin: auto;
}

.dataResult {
  margin-top: 5px;
  z-index: 2;
  position: fixed;
       max-width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  
}


.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
     max-width: 100%;
  display: flex;
  align-items: center;
  color: black;
      border-bottom: 1px solid #bfbfbf;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
@media only screen and (min-width: 690px) and (max-width: 930px) {
  .search,.dataResult {
    width: 350px;
  }
}
@media only screen and (max-width: 690px) {
  .search,.dataResult {
    max-width: 100%;
  }
   nav i.material-icons{
    color:black!important;
    font-size:26px!important
   }
   nav .sidenav-trigger{
    margin:0!important
   }
   .dataItem{
        font-size: 11px;
   }
}
