.Navbar ul li a {
  color: var(--color-menuText);
  text-decoration: none;
  padding: 0 0.25rem;
  letter-spacing: 0.2rem;
  position: relative;
}
div.nav-wrapper .container {
  display: inline-flex;
}
.led {
  color:black
}
.Navbar ul li a:before {
  content: "";

  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-out;
}
.brand-logo {
  position: relative !important;
}
.slick-dots {
  position: relative;
  margin-top: -8% !important;
}

.widgetCantidad {
  position: absolute;
  background: var(--color-menuText);
  font-weight: 600;
  border-radius: 50%;
  color: white;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 15px;
  color: white;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
     color: white;
}
.iconCantidad {
  display: -webkit-inline-box;
  margin-top: 10px;
  float: right;

  color: var(--color-menuText);
}

.ocultar {
  display: none;
}

.Navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.Navbar h2 {
  padding: 0.25rem 0.75rem;
  font-size: 2.5rem;
  color: var(--color-menuText);
  background: var(--color-logo);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.menuEstandar {
  color: var(--color-oscuro);
}
nav {
  background-color: var(--color-menu);
}
nav ul a {
  font-size: 1.1rem;
  color: var(--color-menuText);
}

.portada {
  max-width: 100%;
  object-fit: cover;
  max-height: 300px;
}

.collapsible {
  padding: 0 12px !important;
  font-weight: 600;
}

.mayuscula {
  text-transform: uppercase;
}


.logoMobile{
    margin-right:15px ;
    color:white!important
}

 