.button {
  width: 100%;

  margin: 0;
  line-height: 1;
  cursor: pointer;

  background-color: transparent;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 0;
  padding: 11px 25px;
}

.button:hover {
  background-color: #222222;
  color: white;
}
